<html>
  <head>
    <style type="text/css">
      body {
        font-family: Helvetica;
        font-size: 5em;
      }

      .pug-container {
        margin-top: 100px;
        height: 400px;
      }
      
      .pug-title {
        text-align: center;
        font-size: 3em;
        font-weight: 400;
      }
      
      .pug-powered-by {
        text-align: center;
        font-style: italic;
      }
      
      .pug-osfamily {
        color: #f55;
      }
      
      .pug-host {
        color: #55f;
      }
    </style>
  </head>
  <body>
    <div class="pug-container">
      <div class="pug-title">PUG is awesome!</div>
      <div class="pug-powered-by">Powered by <span class="pug-osfamily"><%= @os['family'] %></span> from <span class="pug-host"><%= @clientcert %></span></div>
    </div>
  </body>
</html>